.cabecalho_root {
  height: 48px;
  background-color: var(--cor-primaria);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;

  /* padding-top: 0;
  padding-right: 16px;
  padding-bottom: 0;
  padding-left: 16px; */
}
.cabecalho_usuario {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cabecalho_sair {
  background: none;
  border: none;
  color: #f00;
  cursor: pointer;
  font-size: 14px;
}

.cabecalho_sair:hover {
  text-decoration: underline;
}
