

* {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
  display: grid;
  grid-template-areas:
    'cabecalho'
    'principal'
    'rodape';

  grid-template-rows: auto 1fr auto;
}

:root {
  
  --cor-primaria-clara: #5ecb64; 
  --cor-primaria: #2fa130; 
  --cor-primaria-escura: #2f7b33; 

  --cor-secundaria-clara: #91e7a3; 
  --cor-secundaria: #4baf4f; 
  --cor-secundaria-escura: #3c8e3e; 


  --cor-fundo-padrao: #f4f9f4; 

 
  --cor-texto-padrao: #245828; 
  --cor-texto-claro: #ffffff;

  
  --cor-info: #66bb6a;
  --cor-sucesso: #2e7031; 
  --cor-aviso: #8fd7a3; 
  --cor-erro: #e53935; 


  --cor-cinza: #d6dadb; 
  --cor-cinza-escuro: #607d8b; 
}
